.hero {
  margin: 0;
  background-color: #bacdb0;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
}

.hero-section-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
  padding: 0px;
  min-width: 0; /* Allows shrinking */
  min-height: 0; /* Allows shrinking */
}
.hero-section-left {
  min-width: 0; /* Allows shrinking */
  min-height: 0; /* Allows shrinking */
}

h1 {
  padding-top: 8%;
  margin-left: 90px;
  margin-top: 0px;
  font-size: 60px;
  color: #475b63;
  width: 800px;
  font-family: "Arial", sans-serif;
  display: inline-block;
}

#my-name {
  color: #2e2c2f;
  font-size: 80px;
}

#my-job-desc {
  color: #729b79;
}

h2 {
  margin-left: 90px;
  margin-top: 10px;
  font-size: 25px;
  color: #2e2c2f;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 800px;
  line-height: 40px;
}

.profile-section {
  display: grid;
  width: 600px;
  grid-template-columns: 100px 100px 100px 100px;
  gap: 10px;
  margin-top: 40px;
  margin-left: 90px;
  margin-bottom: 20px;
}

@media (max-width: 1660px) {
  .hero-section-right {
    margin-left: 10%;
  }
}

@media (max-width: 1615px) {
  .hero-section-left,
  .hero-section-right {
    transform: scale(0.9);
    transform-origin: top left;
  }
  .hero-section-right {
    margin-left: 10%;
  }
  .hero {
    height: 747px;
  }
}

@media (max-width: 1480px) {
  .hero-section-left,
  .hero-section-right {
    transform: scale(0.85);
    transform-origin: top left;
  }

  .hero-section-right {
    margin-left: 20%;
    margin-top: 10%;
  }
  .hero {
    height: 705.5px;
  }
}

@media (max-width: 1350px) {
  .hero-section-left,
  .hero-section-right {
    transform: scale(0.8);
    transform-origin: top left;
  }

  .hero {
    height: 664px;
  }
}

@media (max-width: 1300px) {
  .hero-section-left,
  .hero-section-right {
    transform: scale(0.75);
    transform-origin: top left;
  }

  .hero-section-right {
    margin-top: 18%;
    margin-left: 31%;
  }
  .hero {
    height: 622.5px;
  }
}

@media (max-width: 1200px) {
  .hero-section-left,
  .hero-section-right {
    transform: scale(0.7);
    transform-origin: top left;
  }
  .hero-section-right {
    margin-top: 20%;
  }

  .hero {
    height: 581px;
  }
}

@media (max-width: 1150px) {
  .hero-section-left,
  .hero-section-right {
    transform: scale(0.65);
    transform-origin: top left;
  }

  .hero-section-right {
    margin-top: 20%;
    margin-left: 30%;
  }

  .hero {
    height: 539.5px;
  }
}

@media (max-width: 1040px) {
  .hero-section-left,
  .hero-section-right {
    transform: scale(0.6);
    transform-origin: top left;
  }

  .hero-section-right {
    margin-top: 20%;
  }
  .hero {
    height: 498px;
  }
}

@media (max-width: 960px) {
  .hero-section-left,
  .hero-section-right {
    transform: scale(0.55);
    transform-origin: top left;
  }

  .hero {
    height: 456.5px;
  }
}

@media (max-width: 910px) {
  .hero-section-left,
  .hero-section-right {
    transform: scale(0.5);
    transform-origin: top left;
  }

  .hero {
    height: 415.5px;
  }
}
