.img.hero-image{
  height: 660px;
  position:absolute;
  top: 22%;
  right: 6%;
  border-radius: 350px;
}

.img.project-image{
  height: 239px;
  width: 179px;
  position:absolute;
  border-radius: 10px;
}