.project-card {
  flex-basis: calc(33% - 60px);
  aspect-ratio: 16 / 9;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #a7b99e;
  display: grid;
  grid-template-columns: 40% 60%;
}

.project-image-container {
  border-radius: 20px;
  border: 1px solid black;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  background-color: #cad5c5;
  overflow: hidden;
}

.project-name {
  position: relative;
  top: 5%;
  font-family: "Franklin Gothic Medium";
  color: #475b63;
  font-size: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.project-categories-container {
  position: relative;
  margin-left: 5%;
}

@media (max-width: 1540px) {
  .project-name {
    font-size: 33px;
  }
}

@media (max-width: 1420px) {
  .project-name {
    font-size: 30px;
  }
}

@media (max-width: 1270px) {
  .project-card {
    flex-basis: calc(39% - 10.67px);
  }

  .project-name {
    font-size: 33px;
  }
}

@media (max-width: 1120px) {
  .project-card {
    flex-basis: calc(39% - 10.67px);
  }

  .project-name {
    font-size: 31px;
  }
}

@media (max-width: 1050px) {
  .project-card {
    flex-basis: calc(41% - 10px);
  }

  .project-name {
    font-size: 29px;
  }
}

@media (max-width: 940px) {
  .project-card {
    flex-basis: calc(45% - 10px);
  }

  .project-name {
    font-size: 27px;
  }
}

@media (max-width: 850px) {
  .project-card {
    flex-basis: calc(47% - 10px);
  }

  .project-name {
    font-size: 25px;
  }
}
