.projects {
  background-color: #f3e8ee;
  margin: 0;
  height: 851.54px;
}
.skills .page-title {
  position: relative;
  top: 120px;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  color: #2e2c2f;
}

.projects-card-container {
  position: relative;
  top: 14%;
  display: flex;
  justify-content: center; /* Center the cards horizontally */
  flex-wrap: wrap; /* Allow the cards to wrap to the next line */
  gap: 40px;
  margin: 40px 90px 20px 90px;
  border: 1px solid black;
}
