.project-card {
  border: 1px solid black;
  border-radius: 20px;
  background-color: #a7b99e;
  position: relative;
  overflow: hidden; /* Hide overflow */
  display: grid;
  grid-template-columns: 179px 258px; /* Define two columns */
  grid-template-rows: 239px;
  height: 239px;
  max-width: 458px; 
  gap: 20px; /* Optional: Add some space between columns */
  padding: 0;
}

.project-image-container {
  text-align: center; /* Center horizontally */
  display: table-cell;
  vertical-align: middle; /* Center vertically */
  height: 100%; /* Or a specific height */
  width: 100%; /* Or a specific width */
  background-color: #CAD5C5;
}

.project-name {
  font-family:'Franklin Gothic Medium';
  color: #475b63;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 0px;
  
}

.project-categories-container {
  position: relative;
}

