.skills-card {
  flex-basis: calc(33% - 60px);
  aspect-ratio: 16 / 9;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #cad5c5;
  display: grid;
  grid-template-columns: 40% 60%;
}

.skill-img-container {
  border-radius: 20px;
  /*border: 1px solid black;*/
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  background-color: #cad5c5;
}

.skill-description {
  color: #2e2c2f;
  font-family: "Franklin Gothic Medium";
  font-size: 20px;
  line-height: 150%;
}

.skill-name {
  position: relative;
  top: 5%;
  left: 5%;
  font-family: "Franklin Gothic Medium";
  color: #475b63;
  font-size: 35px;
}

@media (max-width: 1540px) {
  .skill-description {
    font-size: 19px;
  }
  .skill-name {
    font-size: 33px;
  }
}

@media (max-width: 1420px) {
  .skill-description {
    font-size: 17px;
  }
  .skill-name {
    font-size: 30px;
  }
}

@media (max-width: 1270px) {
  .skills-card {
    flex-basis: calc(39% - 10.67px);
  }
  .skill-description {
    font-size: 20px;
  }
  .skill-name {
    font-size: 33px;
  }
}

@media (max-width: 1120px) {
  .skills-card {
    flex-basis: calc(39% - 10.67px);
  }
  .skill-description {
    font-size: 18px;
  }
  .skill-name {
    font-size: 31px;
  }
}

@media (max-width: 1050px) {
  .skills-card {
    flex-basis: calc(41% - 10px);
  }

  .skill-name {
    font-size: 29px;
  }
}

@media (max-width: 940px) {
  .skills-card {
    flex-basis: calc(46% - 10px);
  }

  .skill-name {
    font-size: 27px;
  }
}

@media (max-width: 850px) {
  .skills-card {
    flex-basis: calc(47% - 10px);
  }

  .skill-name {
    font-size: 25px;
  }
}
